/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */
.grid:after, .footer:after, .main__content:after, .header:after {
  content: '';
  display: table;
  clear: both; }

.grid:before, .footer:before {
  content: '';
  display: table;
  clear: both; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom/Acrom-Medium.eot");
  src: local("Acrom Medium"), local("Acrom-Medium"), url("../fonts/Acrom/Acrom-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom/Acrom-Medium.woff2") format("woff2"), url("../fonts/Acrom/Acrom-Medium.woff") format("woff"), url("../fonts/Acrom/Acrom-Medium.ttf") format("truetype"), url("../fonts/Acrom/Acrom-Medium.svg#Acrom-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"), url("../fonts/Acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom/Acrom-Regular.woff2") format("woff2"), url("../fonts/Acrom/Acrom-Regular.woff") format("woff"), url("../fonts/Acrom/Acrom-Regular.ttf") format("truetype"), url("../fonts/Acrom/Acrom-Regular.svg#Acrom-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Acrom';
  src: url("../fonts/Acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"), url("../fonts/Acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Acrom/Acrom-Bold.woff2") format("woff2"), url("../fonts/Acrom/Acrom-Bold.woff") format("woff"), url("../fonts/Acrom/Acrom-Bold.ttf") format("truetype"), url("../fonts/Acrom/Acrom-Bold.svg#Acrom-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: local("Museo Sans Cyrl 700"), local("MuseoSansCyrl-700"), url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.eot");
  src: local("Museo Sans Cyrl 500"), local("MuseoSansCyrl-500"), url("../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSansCyrl-500.svg#MuseoSansCyrl-500") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-900.eot");
  src: local("Museo Sans Cyrl 900"), local("MuseoSansCyrl-900"), url("../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSansCyrl-900.svg#MuseoSansCyrl-900") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: local("Museo Sans Cyrl 300"), local("MuseoSansCyrl-300"), url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url("../fonts/MuseoSans/MuseoSansCyrl-100.eot");
  src: local("Museo Sans Cyrl 100"), local("MuseoSansCyrl-100"), url("../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-100.woff2") format("woff2"), url("../fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype"), url("../fonts/MuseoSans/MuseoSansCyrl-100.svg#MuseoSansCyrl-100") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-BoldIt.eot");
  src: local("Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-BoldIt.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"), url("../fonts/SFProDisplay/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-BlackItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-BlackItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-BlackItalic.svg#SFProDisplay-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"), url("../fonts/SFProDisplay/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-BoldItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-BoldItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-BoldItalic.svg#SFProDisplay-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"), url("../fonts/SFProDisplay/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Thin.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Thin.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Thin.svg#SFProDisplay-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"), url("../fonts/SFProDisplay/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-HeavyItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-HeavyItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-HeavyItalic.svg#SFProDisplay-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("../fonts/SFProDisplay/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Black.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Black.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Black.svg#SFProDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../fonts/SFProDisplay/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Light.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Light.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"), url("../fonts/SFProDisplay/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-LightItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-LightItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-LightItalic.svg#SFProDisplay-LightItalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"), url("../fonts/SFProDisplay/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-MediumItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-MediumItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-MediumItalic.svg#SFProDisplay-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"), url("../fonts/SFProDisplay/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-ThinItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-ThinItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-ThinItalic.svg#SFProDisplay-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../fonts/SFProDisplay/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"), local("SFProDisplay-RegularItalic"), url("../fonts/SFProDisplay/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-RegularItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-RegularItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-RegularItalic.svg#SFProDisplay-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"), local("SFProDisplay-UltralightItalic"), url("../fonts/SFProDisplay/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-UltralightItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-UltralightItalic.svg#SFProDisplay-UltralightItalic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"), local("SFProDisplay-SemiboldItalic"), url("../fonts/SFProDisplay/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-SemiboldItalic.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-SemiboldItalic.svg#SFProDisplay-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../fonts/SFProDisplay/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Semibold.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../fonts/SFProDisplay/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Heavy.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Heavy.svg#SFProDisplay-Heavy") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../fonts/SFProDisplay/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Medium.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"), url("../fonts/SFProDisplay/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Ultralight.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../fonts/SFProDisplay/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/SFProDisplay/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* Global variables */
/* ======================================================================== */
/* Grid */
/* ======================================================================== */
/* Form */
/* ======================================================================== */
/* Breakpoints */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .wrapper {
  height: 100%;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
  font-family: "Open Sans";
  color: #2b3a40;
  line-height: 1.2; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }
  a:focus {
    outline: 0; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px 15px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans";
  border-radius: 5px;
  -webkit-transition: all 0.3ss;
  -o-transition: all 0.3ss;
  transition: all 0.3ss; }
  input:not([type]):hover,
  input[type=text]:hover,
  input[type=password]:hover,
  input[type=email]:hover,
  input[type=url]:hover,
  input[type=search]:hover,
  input[type=tel]:hover,
  input[type=number]:hover,
  input[type=datetime]:hover,
  textarea:hover {
    border: 1px solid #ddd;
    background-color: #fff; }
  input:not([type]):focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=datetime]:focus,
  textarea:focus {
    border: 1px solid #ddd;
    background-color: #fff; }
  input:not([type]).input_error,
  input[type=text].input_error,
  input[type=password].input_error,
  input[type=email].input_error,
  input[type=url].input_error,
  input[type=search].input_error,
  input[type=tel].input_error,
  input[type=number].input_error,
  input[type=datetime].input_error,
  textarea.input_error {
    background-color: #fff0f0;
    border: 1px solid red; }
  input:not([type])::-webkit-input-placeholder,
  input[type=text]::-webkit-input-placeholder,
  input[type=password]::-webkit-input-placeholder,
  input[type=email]::-webkit-input-placeholder,
  input[type=url]::-webkit-input-placeholder,
  input[type=search]::-webkit-input-placeholder,
  input[type=tel]::-webkit-input-placeholder,
  input[type=number]::-webkit-input-placeholder,
  input[type=datetime]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #ddd; }
  input:not([type]):-moz-placeholder,
  input[type=text]:-moz-placeholder,
  input[type=password]:-moz-placeholder,
  input[type=email]:-moz-placeholder,
  input[type=url]:-moz-placeholder,
  input[type=search]:-moz-placeholder,
  input[type=tel]:-moz-placeholder,
  input[type=number]:-moz-placeholder,
  input[type=datetime]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #ddd; }
  input:not([type])::-moz-placeholder,
  input[type=text]::-moz-placeholder,
  input[type=password]::-moz-placeholder,
  input[type=email]::-moz-placeholder,
  input[type=url]::-moz-placeholder,
  input[type=search]::-moz-placeholder,
  input[type=tel]::-moz-placeholder,
  input[type=number]::-moz-placeholder,
  input[type=datetime]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #ddd; }
  input:not([type]):-ms-input-placeholder,
  input[type=text]:-ms-input-placeholder,
  input[type=password]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder,
  input[type=url]:-ms-input-placeholder,
  input[type=search]:-ms-input-placeholder,
  input[type=tel]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=datetime]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #ddd; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=checkbox],
input[type=radio] {
  padding: 0; }

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
  cursor: pointer; }

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #aaa;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: 0;
  background: 0 0;
  text-align: center;
  position: relative; }

input[type=radio] {
  border-radius: 50%; }

input[type=checkbox]:before,
input[type=radio]:before {
  display: block; }

input[type=radio]:checked:before {
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: #000; }

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before {
  content: "\2714";
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 13px;
  color: #000; }

input[type=checkbox]:indeterminate:before {
  content: "\f068"; }

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  border-color: #ddd; }

input[type=radio]:disabled:checked:before {
  background-color: #aaa; }

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa; }

.btn {
  color: #2b3a40;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  padding: 5px 15px 7px;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  background-color: #ddd;
  text-align: center;
  max-width: 100%;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.3ss;
  -o-transition: all 0.3ss;
  transition: all 0.3ss;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none; }
  .btn:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none; }
  .btn:focus, .btn:active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000; }
  .btn__primary {
    background-color: #7b8287;
    border-color: #7b8287;
    color: #ffffff; }
    .btn__primary:hover {
      background-color: #6a7074;
      color: #ffffff; }
    .btn__primary:focus, .btn__primary:active {
      background-color: #63686c;
      color: #ffffff; }
  .btn__success {
    background-color: #36a566;
    border-color: #36a566;
    color: #ffffff; }
    .btn__success:hover {
      background-color: #2d8a55;
      color: #ffffff; }
    .btn__success:focus, .btn__success:active {
      background-color: #297f4e;
      color: #ffffff; }
  .btn__info {
    background-color: #03a9f4;
    border-color: #03a9f4;
    color: #ffffff; }
    .btn__info:hover {
      background-color: #0391d1;
      color: #ffffff; }
    .btn__info:focus, .btn__info:active {
      background-color: #0286c2;
      color: #ffffff; }
  .btn__warning {
    background-color: #fca33e;
    border-color: #fca33e;
    color: #ffffff; }
    .btn__warning:hover {
      background-color: #fb921b;
      color: #ffffff; }
    .btn__warning:focus, .btn__warning:active {
      background-color: #fb8b0c;
      color: #ffffff; }
  .btn__danger {
    background-color: #ff1a1a;
    border-color: #ff1a1a;
    color: #ffffff; }
    .btn__danger:hover {
      background-color: #f50000;
      color: #ffffff; }
    .btn__danger:focus, .btn__danger:active {
      background-color: #e60000;
      color: #ffffff; }

.grid {
  margin-left: -20px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  html[data-browser*="flexible"] .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex; }
    html[data-browser*="flexible"] .grid > div {
      display: block; }
  html[data-browser*="not-flex"] .grid {
    display: block;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px; }
    html[data-browser*="not-flex"] .grid > div {
      display: inline-block;
      vertical-align: top;
      letter-spacing: normal;
      line-height: 1.2;
      font-size: 1em; }
  html[data-browser*="flexible"] .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  html[data-browser*="flexible"] .grid-nowrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
  .grid > div {
    padding-left: 20px;
    margin-bottom: 20px; }
    .grid > div.width_1 {
      width: 50%; }
    .grid > div.width_2 {
      width: 50%; }
    .grid > div.width_3 {
      width: 33.3%; }
    .grid > div.width_4 {
      width: 25%; }
    .grid > div.width_5 {
      width: 20%; }
    .grid > div.width_2_3 {
      width: 66%; }
    .grid > div.width_3_4 {
      width: 75%; }
  .grid__1 > div {
    width: 100%; }
  .grid__2 > div {
    width: 50%; }
  .grid__3 > div {
    width: 33.3%; }
  .grid__4 > div {
    width: 25%; }
  .grid__5 > div {
    width: 20%; }

[data-grid-match] .grid__item {
  background-color: #eee; }

@media (max-width: 991px) {
  .grid__4 > div {
    width: 50%; } }

.wrapper {
  font-size: 1em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -auto auto; }

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
  padding-bottom: auto; }

.container_center {
  max-width: 1450px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.column {
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 300px;
  column-width: 300px; }

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  position: relative;
  height: auto;
  background: #BFF08E; }
  .footer .container_center {
    padding-top: 10px;
    padding-bottom: 10px; }

.soc {
  float: left; }
  .soc a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.3ss;
    -o-transition: all 0.3ss;
    transition: all 0.3ss; }
    .soc a:hover {
      opacity: .8; }
    .soc a:before {
      content: 'soc';
      color: #fff;
      text-decoration: none; }

.breadcrumb {
  margin: 15px 0;
  padding: 0; }
  .breadcrumb li {
    display: inline-block;
    vertical-align: baseline; }
    .breadcrumb li:not(:first-child):before {
      content: '/';
      display: inline-block; }
    .breadcrumb li:last-child a {
      cursor: default;
      text-decoration: none; }
    .breadcrumb li a {
      font-size: 12px; }

.pagination {
  margin: 25px 0;
  padding: 0; }
  .pagination li {
    display: inline-block; }
    .pagination li a {
      display: block;
      text-align: center; }
    .pagination li.prev a:before {
      content: '<'; }
    .pagination li.next a:before {
      content: '>'; }

/* Header
 ----------------------------------------------------------------------------- */
.stiky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

@font-face {
  font-family: 'replan';
  src: url("../fonts/replan/replan.eot?yd1hph");
  src: url("../fonts/replan/replan.eot?yd1hph#iefix") format("embedded-opentype"), url("../fonts/replan/replan.ttf?yd1hph") format("truetype"), url("../fonts/replan/replan.woff?yd1hph") format("woff"), url("../fonts/replan/replan.svg?yd1hph#replan") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'replan' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-angel-right:before {
  content: "\e903"; }

.icon-angel-left:before {
  content: "\e904"; }

.icon-phone:before {
  content: "\e900"; }

.icon-quest:before {
  content: "\e901"; }

.icon-angel-down:before {
  content: "\e902"; }

.icon-bug:before {
  content: "\e905"; }

.icon-building:before {
  content: "\e906"; }

.icon-call:before {
  content: "\e907"; }

.icon-caret-left:before {
  content: "\e908"; }

.icon-check:before {
  content: "\e909"; }

.icon-check-sm:before {
  content: "\e90a"; }

.icon-clock:before {
  content: "\e90b"; }

.icon-close:before {
  content: "\e90c"; }

.icon-mail:before {
  content: "\e90d"; }

.icon-mail-open:before {
  content: "\e90e"; }

.icon-marker:before {
  content: "\e90f"; }

.icon-phone-call:before {
  content: "\e910"; }

.icon-prix:before {
  content: "\e911"; }

.icon-tower:before {
  content: "\e912"; }

.icon-zoom:before {
  content: "\e913"; }

.wrapper {
  background: url("../img/first-bg.png") no-repeat top center;
  background-size: 100%; }

.header {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Proxima Nova"; }
  .header a {
    color: #fff; }
  .header__left {
    float: left; }
  .header__right {
    float: right; }

/*# sourceMappingURL=style.css.map */